return {
  -- Example: develop python.nvim locally (replaces pytest.nvim and invoke.nvim)
  python = "~/src/github.com/jedi-knights/python.nvim",
  -- Example: develop go.nvim locally (replaces go-task.nvim)
  go = "~/src/github.com/jedi-knights/go.nvim",
  -- Example: develop mercury.nvim locally
  mercury = "~/src/github.com/TheWeatherCompany/mercury.nvim",
  -- Add more plugins as needed
}