return {
  -- Example: develop pytest.nvim locally
  pytest = "/Users/omar/src/github.com/jedi-knights/pytest.nvim",
  -- Example: develop go-task.nvim locally
  go_task = "/Users/omar/src/github.com/jedi-knights/go-task.nvim",
  -- Add more plugins as needed
} 